.logo {
    align-items: center;
    justify-content: center;
    display: block;
}

.location {
    display: flex;
    justify-content: center;
    color: black;
    padding-bottom: 15px;
    padding-top: 15px;
    background-color: linear-gradient (to top #9b9b9b #F2F2F2);
}

input {
    border: transparent;
    text-align: center;
    align-items: center;
}

.big-title {
    font-family: 'Shrikhand', 'cursive';
    color: black;
    margin-bottom: 0;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 50px;
}

.firstp {
    font-family: 'Roboto Flex', 'sans serif';
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

.secondp {
    font-family: 'Roboto Flex', 'sans serif';
    text-align: center;
}

.btn-explore {
    border: none;
    margin-top: 20px;
}

.explore {
    font-family: 'Roboto Flex', 'sans serif';
    font-size: 16px;
    text-decoration: none;
    text-align: center;
    padding: 20px 50px;
    border-radius: 50px;
    color: white;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    border: transparent;
    margin-top: 25px;
    box-shadow: grey 0px 8px 10px -5px;
    cursor:pointer;
}
.explore:hover{
    opacity: 0.5;
}

body {
    margin: 0;
}

/*Explorer nos restaurants*/
.reservation {
    background-color: #f2f2f2;
    gap: 2rem;
    align-items: center;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 30px;
}

/*Fonctionnement*/
.filterfonctionnement {
    background-color: white;
    display: block;
    margin-top: 35px;
    padding-right: 30px;
    padding-left: 25px;
}

.navfonction {
    flex: 1 1 48%;
}

.threefilters {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

li {
    list-style-type: none;
}

.btnfonction {
    background-color: #F2F2F2;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 10px;
    border-radius: 25px;
    position: relative;
}

.btnfonction:hover {
    background-color: #9356DC;
    opacity: 0.4;
    
}

p {
    color: black;
}

.number {
    background-color: #9356DC;
    color: white;
    border-radius: 30px;
    padding: 4px 9px;
    position: relative;
    margin-left: -12%;
    margin-top: 3%;
}

.icon {
    color: #535252;
    background-color: transparent;
    border: none;
    font-size: medium;
    justify-content: space-around;
}

.icon:hover {
    background-color: transparent;
    color:black;
    cursor:pointer;
}

.textfonction {
    color: black;
    font-family: 'Roboto Flex', 'sans serif';
    font-size: 15px;
    cursor: pointer;
    opacity: 1;
}

/*Restaurant*/
.restaurants {
    background-color: #F2F2F2;
    display: block;
    padding: 25px;
}

.Fonctionnement {
    color: black;
    font-family: 'Roboto Flex', 'sans serif';
    text-align: left;
    font-weight: bold;
    padding-left: 5px;
}

.cardrestaurant {
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.choicerestaurant {

    background-color: white;
    border-radius: 40px 25px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    justify-content: space-around;
    flex: 1 1 48%;
}

.imgcard {
    width: 100%;
    aspect-ratio: 2/1;
    border-radius: 25px 25px 0px 0px;
    object-fit: cover;
}

.new {
    display: flex;
    font-family: 'Roboto Flex', 'sans serif';
    font-weight: bold;
    color: #098062;
    padding: 8px 10px;
    border-radius: 3px;
    background-color: #99E2D0;
    position: relative;
    left: 150px;
    top: 80px;
}

.emptyheart {
    display: flex;
    margin-right: 5px;
    border: none;
    background-color: white;
    color: #535252;
    font-size: large;
}

.zonetext {
    font-family: 'Roboto Flex', 'sans serif';
    text-decoration: none;
    justify-content: flex-start;
    align-items: center;
}

h3 {
    font-weight: bold;
    color: black;
}

p {
    text-align: left;
}


/*Footer*/
footer {
    background-color: #5e5b5b;
    color: white;
    justify-content: flex-start;
    text-align: left;
    padding: 20px;
}

h4 {
    font-family: 'Shrikhand', 'sans serif';
    font-size: x-large;
}

.ulfooter {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.listfooter {
    display: flex;
    list-style-type: none;
}

.footer-icon {
    color: white;
    align-items: flex-start;
    background-color: transparent;
    border: none;
    font-size: large;
}

.textfooter {
    color: white;
    text-decoration: none;
    align-items: flex-start;
}