.logo {
    align-items: center;
    justify-content: center;
    display: block;
}

.location {
    display: flex;
    justify-content: center;
    color: black;
    padding-bottom: 15px;
    padding-top:15px;
    background-color: linear-gradient (to top #9b9b9b #F2F2F2);
}

input{
    border:transparent;
    text-align: center;
    align-items: center;
}

h1{
    font-family:'Shrikhand' 'sans serif';
    color:black;
    margin-bottom: 0;
}

.firstp{
    font-family: 'Roboto' 'sans serif';
    font-weight: bold;
    font-size: x-large;
    text-align: center;
}

.secondp{
    font-family: 'Roboto' 'sans serif';
    text-align: center;
}

.explore {
    font-family: 'Roboto' 'sans serif';
    text-align: center;
    padding: 20px 50px;
    border-radius: 50px;
    color: white;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    border: transparent;
    margin-top: 25px;
}

body {
    margin: 0;
}

/*Explorer nos restaurants*/
.reservation {
    background-color: #f2f2f2;
    gap: 2rem;
    align-items: center;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 30px;
}

h1 {
    font-family: 'Roboto' 'sans serif';
    justify-content: center;
    text-align: center;
    font-weight: bold;
}

/*Fonctionnement*/
.filterfonctionnement {
    background-color: white;
    display: block;
    margin-top: 35px;
    padding-right: 10px;
}

.threefilters {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}

@media screen and (max-width:768px) {
    .threefilters {
        display: flex;
        justify-content: center;
    }
}

li {
    list-style-type: none;
}

.btnfonction {
    background-color: #F2F2F2;
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    border-radius: 10px 5px;
    background-color: #F2F2F2;
    gap: 1rem;
}

.btnfonction:hover {
    background-color:#9356DC ;
 }

p {
    color: black;
}

.number {
    background-color: #9356DC;
    color: white;
    border-radius: 30px;
    padding: 4px 9px;
    position: absolute;
    margin-left: -4%;
    margin-top: 7%;
}

.icon {
    color: #535252;
    border:none;
    font-size:medium;
    justify-content: space-around;
}

.icon:hover {
    color: #9356DC
}

.textfonction{
    color: black;
    font-family:'Roboto' 'sans serif';
    font-size: 15px;
}

/*Restaurant*/
.restaurants {
    background-color: #F2F2F2;
    display: block;
    padding-top: 10px;
    padding-bottom: 10px;
}

h2 {
    color: black;
    font-family: 'Roboto' 'sans serif';
    text-align: left;
    font-weight: bold;
    padding-left:5px;
}

.cardrestaurant {
    gap: 2rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 90%;
    margin: 15px 10px 10px 15px;
}

.choicerestaurant {
    background-color: white;
    border-radius: 25px 15px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    text-decoration: none;
    justify-content: space-around;
}

.imgcard {
    width: 100%;
    aspect-ratio: 2/1;
    border-radius: 25px 25px 0px 0px;
}

.emptyheart {
    display: flex;
    margin-right: 5px;
    border:none;
    background-color: white;
    color: #535252;
    font-size: large;
}

.zonetext {
    font-family: 'Roboto' 'sans serif';
    text-decoration: none;
    justify-content: flex-start;
    align-items: center;
}

h3 {
    font-weight: bold;
}

p {
    text-align: left;
}


/*Footer*/
footer {
    background-color: rgb(107, 107, 107);
    color: white;
    justify-content: flex-start;
    text-align: left;
    padding:20px;
}

h4{
    font-family:'Shrikhand' 'sans serif';
    font-size: x-large;
}

.ulfooter{
    padding:0;
}

.listfooter{
    display:flex;
    list-style-type: none;
}

.footer-icon {
    color: white;
    align-items: flex-start;
    background-color: transparent;
    border:none;
    font-size: large;
}

.textfooter {
    color: white;
    text-decoration: none;
    align-items: flex-start;
}