@use 'components/cards';
@import url('https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100;8..144,200;8..144,300;8..144,400;8..144,500;8..144,600;8..144,700;8..144,800;8..144,900;8..144,1000&family=Shrikhand&display=swap');


h1 {
    font-family: 'Shrikhand', 'cursive';
    display: block;
}

button {
    border: none;
    background: transparent;
    padding: 25px 0;
    font-size: 20px;
    cursor: pointer;
    align-items: center;
    position: relative;
    margin-right: 5%;
}


.title-restaurant {
    font-family: 'Roboto Flex', 'sans serif';
    font-size: 25px;
}

.title-menu {
    font-family: 'Roboto flex';
    font-weight: lighter;
    border-bottom: 3px solid #99E2D0;
    width: 8%;
    display: flex;
    flex-wrap: wrap;
}

body {
    margin: 0;

}

.return {
    cursor: pointer;
    color: black;
    justify-content: flex-start;
    position: relative;
    top: 35px;
}

.title {
    align-items: center;
    justify-content: center;
}

/*titre ohmyfood!*/
.big-title {
    font-family: 'Shrikhand', 'cursive';
    color: black;
    margin: 0;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

.fa-arrow-left:hover {
    color: #9356DC;
}

/*image du restaurant*/
.img-restaurant {
    width: 100%;
    aspect-ratio: 2/1;
    object-fit: cover;
}

.title-restaurant-header {
    display: flex;
    justify-content: space-between;
}

.title-restaurant {
    font-family: 'Shrikhand','cursive';
    padding-left: 25px;
}

.emptyheart {
    position: absolute;
    right: 50px;
    top: 25px;
    border: none;
    font-size: x-large;
    align-items: center;
    cursor: pointer;
}

.fullheart {
    position: absolute;
    right: 50px;
    top: 25px;
    border: none;
    font-size: x-large;
    align-items: center;
    cursor:pointer;
    color: transparent;
}

.fullheart :hover {
    position: absolute;
    opacity: 1;
    color: #9356DC;
    background:linear-gradient(to bottom #9356DC,#FF79DA );
    background-clip:text;
    -webkit-background-clip:text;
    transition: all 2s linear 0s;
}


.menu-list {

    flex-wrap: wrap;
    justify-content: center;
    border-radius: 40px 40px 0 0;
    background-color: #F2F2F2;
    z-index: 1;
    position: relative;
    margin-top: -40px;
    padding-left: 15px;
    gap: 1rem;
}

.menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.sousmenu {
    width: 90%;
    height: 50%;
}

.menulegend {
    width: 75%;
    display: flex;
    background: white;
    border-radius: 20px;
    padding: 0 15px;
    cursor: pointer;
    overflow: hidden;
    margin: 10px 10px 10px 0;
    box-shadow: 0.25rem 0.25rem 1rem rgb(0 0 0 / 10%);
    animation-name: slide-top;
    animation-delay: 2500ms ;
    /*animation-timing-function: cubic-bezier(0.250, 0.460, 0.450, 0.940);*/
    animation-fill-mode: both;
}

@keyframes slide-top {
    0% {
        transform: translateY(50%);
        opacity: 0.2;
    }
50% {
    transform: translateY(35%);
        opacity: 0.5;
}
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

.menulegend-item {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
        &:hover {
        transform: translate (100%)
    }
}

.textlegend {
    font-weight: lighter;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.price {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-weight: bold;
}

.checkbutton {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #99E2D0;
    font-size: 35px;
    overflow: hidden;
    width: 50%;
    margin: -10px -190px -10px 0px;
    position: relative;
    right: -5%;
    transition: transform 0.5s ease-in;
}

.fa-circle-check {
    display: flex;
    justify-content: center;
    background-color: #99E2D0;
    color: white;
}

.circle-check {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: white;
    width: 25px;
    height: 25px;
    font-size: 18px;
}

@keyframes .circle-check {
    transform: scale (.1);
    transform: rotate(-90deg);
    transition: tranform 330ms ease-in-out;
}

a {
    text-decoration: none;
    text-align: center;
    justify-content: center;
}

.button-order {
    display: flex;
    justify-content: center;
    align-items: center;
}

.order {
    font-family: 'Roboto flex','sans serif';
    text-align: center;
    text-decoration: none;
    padding: 20px 40px;
    border-radius: 50px;
    color: white;
    background: linear-gradient(to bottom right, #FF79DA, #9356DC);
    box-shadow: grey 0px 8px 10px -5px;
    margin: 0 25px 25px 35px;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    transform: scale(1);
    transition-property: transform;
    transition-duration: 400ms;

    &:hover {
        transform: scale(1.15)
    }

}

/*Footer*/
footer {
    background-color: #5e5b5b;
    color: white;
    justify-content: flex-start;
    text-align: left;
    padding: 20px;
}

h4 {
    font-family: 'Shrikhand', 'sans serif';
    font-size: x-large;
}

.ulfooter {
    padding: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.listfooter {
    display: flex;
    list-style-type: none;
}

.footer-icon {
    color: white;
    align-items: flex-start;
    background-color: transparent;
    border: none;
    font-size: large;
}

.textfooter {
    color: white;
    text-decoration: none;
    align-items: flex-start;
    margin: 16px 0px;
}

@media (max-width:768px) {
    .ulfooter {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}